/* Elimina el pading en los formularios de login y registro */
.no-padding-top {
    padding-top: 0 !important;
}

body {
    background-color: #73df73; /* Fondo Global de color Verde claro */
    font-family: 'Poppins', sans-serif; /* O usa 'Nunito', sans-serif */
    padding-top: 130px; /* Espacio para barra superior y navbar */
    margin: 20px; /* Añade un margen global para el espacio entre el contenido y el navbar */
}

.text-decoration-none {
    text-decoration: none;
    color: inherit; /* Mantiene el color original */
}


/* Login Card */
.custom-card {
    background-color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* Sombra para darle profundidad */
    border-radius: 8px; /* Bordes redondeados */
    color: #333;
}

/* Cards */
.card-body {
    background-color: #f8f9fa;
    color: #333; /* Color claro para el texto */
    border-radius: 20px; /* Bordes redondeados */
}
.card-mb-3{
    background-color: #b3b3b3;
}
.card .list-group-item {/* Ajuste del color de fondo de los elementos de lista dentro de la tarjeta 1 */
    background-color: #b3b3b3;
    color: #333;
    border-color: #444; /* Bordes ligeros para diferenciar */
}
.card-title {/* Estilos para el título de la tarjeta */
    color: #333; 
}
.card-text, .card p, .card h5 {/* Estilos para el texto dentro de las tarjetas */
    color: #333;
}
.card img {/* Estilos para las imágenes en las tarjetas de gerontólogos */
    border-radius: 8px;
}
.card-header{
    background-color: 333;
}


/* Estilos para texto */
h1, h2, h3, h4, h5, h6 {
    color: #2d6a4f;
}
p, a, li {
    color: #000000;
}

/* Barra superior */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #73df73;
    color: #fff;
}
.top-bar .logo img {
    max-height: 100px; /* Ajusta la altura del logo */
}
.user-info {
    font-size: 1.1em;
    color: #333;
}

/* Navbar */
.navbar-custom {
    background-color: #333;
    top: 100px; /* Ajusta la altura de la barra superior */
}
.navbar-custom .navbar-brand {
    padding: 10px 15px;
    font-size: 1em;
}
.offcanvas-body {
    display: flex;
    flex-direction: column;
}
.offcanvas-footer {
    margin-top: auto; /* Empuja el botón hacia abajo */
}

/* Estilo personalizado del acordeón */
.accordion-button {
    background-color: #f8f9fa; /* Fondo */
    color: #333; /* Texto */
    border: none;
}
.accordion-button:not(.collapsed) {
    background-color: #b3b3b3; /* Fondo gris oscuro cuando está abierto */
    color: #333; /* Texto */
    font-weight: bold;
}
.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(115, 223, 115, 0.5); /* Sombra verde al hacer foco */
}
.accordion-item {
    border: none;
}
.accordion-body {
    background-color: #b3b3b3; /* Fondo */
    color: #333; /* Texto */
    border-top: 1px solid #73df73; /* Borde verde superior en el cuerpo */
}

/* Carrusel de fotos */
.carousel-inner .carousel-item img {
    width: 100%;
    height: 500px; /* Ajusta la altura según lo que necesites */
    object-fit: cover; /* Mantiene el enfoque central de la imagen, evitando distorsión */
}
.carousel-caption h5 {
    color: #76f089; 
}
.carousel-caption p {
    color: #073007; 
}

/* Seccion explicativa del Index */
.section-explicativa {
    background-color: #333;
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    text-align: center;
}

.section-explicativa p{
color: rgb(255, 255, 255); /* Cambia el color del texto para que contraste */
}

/* Footer */
.footer {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    color: #e2e1e1;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
}

/* Mapa */
#map {
    height: 500px; /* Ajusta la altura del mapa */
    width: 70%; /* Ocupa la mitad del contenedor para mostrar informacion relacionada al lado derecho */
    margin-bottom: 20px; /* Espacio para que no se superponga al pie */
}
.map-container {
    display: flex;
    flex-wrap: wrap;
}
.map-container .map-info {
    flex: 1;
    max-width: 400px;
    margin-left: 20px;
}

.map-info {
    background-color: #f8f9fa; /* Fondo claro */
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.map-info h2 {
    color: #343a40;
}